<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461585701000-ngljnpp7ntse9agcj2l6phnaq7sjj7tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461585701000-ngljnpp7ntse9agcj2l6phnaq7sjj7tr</string>
	<key>API_KEY</key>
	<string>AIzaSyAMGURuoghQ8VTbHIPXE3-wjawcCFYKi7A</string>
	<key>GCM_SENDER_ID</key>
	<string>461585701000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>proiecte.Project1</string>
	<key>PROJECT_ID</key>
	<string>project1-51ace</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-51ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461585701000:ios:4203b809ac67cf7cdce73d</string>
</dict>
</plist>